.banner {
    &__box {
        padding: 150px 30px;
        background-image: linear-gradient(to right, #091508, #0D200D);
        display: flex;
        flex-direction: column;
        align-items: center;

        @media (max-width: 480px) {
            padding: 170px 15px;
        }
    }
}