.products {
    background-color: $tt-green;

    &-slider {
        &-container {
            @media (max-width: 820px) {
                width: 100%;
                max-width: 100%;
                padding: 0;
                overflow: hidden;
                padding-bottom: 40px;
            }
        }

        &-slide {
            background-color: $tt-gray-light;
            padding: 40px 10px 40px 20px;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 40px;

            &__content {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 40px;

                &-image {
                    display: flex;
                    align-items: flex-start;
                    justify-content: center;
                    height: 150px;
                }
            }

            &__controls {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            @media (max-width: 820px) {
                min-width: 320px;
            }

            @media (max-width: 480px) {
                min-width: auto;
                width: 100% !important;
            }
        }

        .splide__arrows {
            .splide__arrow {
                position: absolute;
                width: 40px;
                height: 40px;
                background-color: transparent;
                opacity: 1;

                &:disabled {
                    opacity: .5;
                }
            }

            .splide__arrow--prev {
                transform: translateX(-55px) rotate(180deg);
            }

            .splide__arrow--next {
                transform: translateX(55px);
            }
        }

        .splide__pagination {
            bottom: -32px;
        }

        .splide__pagination__page {
            width: 16px;
            height: 16px;
            background-color: transparent;
            border: 2px solid $tt-white;
            opacity: 1;
        }

        .splide__pagination__page.is-active {
            transform: scale(1);
            background-color: $tt-white;
        }
    }
}