.nav-link {
    display: flex;
    align-items: center;
    gap: 12px;
    text-decoration: none;
    color: $tt-green;

    &--outline {
        color: inherit;
    }

    &:hover {
        color: $tt-green-dark; 
    }
}