.sticker {
    background: linear-gradient(to right, #49b348, #46ab45, #43a442, #409c3f, #3d953c, #398d39, #368435, #327c32, #2d712d, #296629, #245b24, #205020);
    padding: 10px 28px;
    border-radius: 4px;
}